.box:nth-child(1):before,
.box:nth-child(1):after{
    background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}

.box:nth-child(2):before,
.box:nth-child(2):after{
    background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
}

.box:nth-child(3):before,
.box:nth-child(3):after{
    background: linear-gradient(235deg, #772aff, #010615, #219fF3);
}

